posts/node_modules
client/node_modules
comments/node_modules
event-bus/node_modules
query-service/node_modules
moderation-service/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*